.navbar {
  position: absolute;
  position: sticky;
  z-index: 3;
  padding: 0 !important; 
  background-color: var(--color-3); 
  
  .logo {
    height: 3rem;
  }
}

#navbar-btn {
  padding: 0%;
  height: 3rem;
  width: 3rem;
  border: none;
  border-left-style: solid;
  border-color: var(--color-5);
  cursor: pointer;
  background-color: var(--color-3);
  color: var(--color-4);
}

#navbar-btn:focus {
  background-color: var(--color-2);
  color: var(--color-4);
}

.navbar-links-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 100%;
  z-index: 10;
  background-color: var(--color-2);
}

.navbar-link {  
  border-style: solid;
  text-decoration: none;
  padding: 0.5rem;
  border-width: 1.5px;
  color: var(--color-5);
}

.navbar-link:hover {
  background-color: var(--color-5);
  color: var(--color-1); 
}




