.navbar {
  position: absolute;
  position: sticky;
  z-index: 3;
  top: 0;
  width: 100%;
  padding:0% !important;
  background-color: var(--color-2); 
}

.logo {
  opacity: 1 !important;
}

#navbar-btn {
  padding: 1em;
  background-color: var(--color-3);
  color: var(--color-4);
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#navbar-btn:hover, :focus {
  background-color: var(--color-5);
  color: var(--color-1);
}

.navbar-links-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 100%;
  padding: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0 5px;
  background-color: var(--color-5);
  z-index: 10;
}

.navbar-link {
  margin: 0.5em;
  color: var(--color-5);
}




