.plan-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.plan-img {
    height: 15%;
  background-image: url(../../assets/header_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plan-btn {
  background-color: var(--color-3) !important;
  width: fit-content;
}

.thinking-btn{
  background-color: var(--color-3) !important;
}

.icon {
  width: 45px !important;
  
}

