:root {  
  --color-1: #3D3E40;
  --color-2: #BFB3A8;
  --color-3: #402D22;
  --color-4: #D8D9D7;
  --color-5: #8C7C6B;
  
  
  background-color: var(--color-4);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root, .App {
  height: 100%;  
  font-family: "Labrada", sans-serif;
}


