:root {  
  --color-1: #D9AE89;
  --color-2: #A66844;
  --color-3: #734230;
  --color-4: #F2F0F0;
  --color-5: #40251F;
  background-color: var(--color-4);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root, .App {
  height: 100%;  
  font-family: "Labrada", sans-serif;
  color: var(--color-3);
}


