.ritual-section {
  height: 100%;
}

.arrows-container{
  margin-top: 3rem;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.arrows-container::-webkit-scrollbar {
  display: none;
}

.arrow {
  flex: 0 0 auto;
  clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
  padding-left: 2rem;
  padding-right: 2rem;
}

h2,
p {
  color: var(--color-5) !important;
}

.card {
  height: 20rem !important;
  margin: 3rem;
  justify-content: center;
}

.card-inner.flipped {
  transform: rotateY(180deg); /* Al hacer clic, voltea la tarjeta */
}

.card-front, .card-back {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg); /* La parte posterior se voltea */
}

.card-img {
  border-radius: 20px !important;
}
